@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

* {
  background-color: #f8f8f8;
}
.websiteName {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  position: fixed;
  top: 0px;
  left: 30px;
  margin: 0px;
}

.Header {
  font-family: "Montserrat", sans-serif;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 30px;
  background: #ffffff;
  overflow-x: hidden;
  padding: 50px 25px;
  background-color: #f8f8f8;
}

.Header a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #788699;
  display: block;
}

.loginPage {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 107px;
}

.loginButton {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #ccc;
}

.loginButton:hover {
  color: white;
  background-color: #3dc19b;
  border: 1px solid #3dc19b;
}

.createAccountPage {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 107px;
}

.Homepage {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 107px;
}

.homeReviews {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 20px 150px 20px 150px;
  padding: 40px;
  color: #444;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #f5f6f5, 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

.homeText {
  background-color: #ffffff;
}

.homeText h3 {
  font-size: 15px;
}

.UserProfile {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 107px;
}

.profileReviews {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin: 20px 200px 20px 200px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #f5f6f5, 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  color: #444;
}

.profileReviews h2 {
  font-size: 22px;
}

.profileText {
  background-color: #ffffff;
}

.profileText h3 {
  font-size: 15px;
}

.reviewCard {
  border: 1px solid black;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}

.submissionForm {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 107px;
}

.inputContainer {
  width: 400px;
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  margin: 20px 200px 20px 200px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #f5f6f5, 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

.formWrapper {
  padding-bottom: 17px;
  background-color: #fff;
}

.formWrapper label {
  margin-bottom: 9px;
  display: block;
  background-color: #fff;
}

.inputBar {
  border: 1px solid #ccc;
  display: block;
  width: 86.7%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: muli-bold;
  background: 0 0;
  margin-bottom: 15px;
}

.reviewInput {
  height: 150px;
}

.inputContainer form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.inputContainer input {
  font-family: "Montserrat", sans-serif;
}

.submitButton {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #ccc;
}

.submitButton:hover {
  color: white;
  background-color: #3dc19b;
  border: 1px solid #3dc19b;
}
